@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
html,
body, div[ui-view="contents"], .contents {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  background-image: url("/pages/main/assets/images/background.jpg");
}

@import "layouts/main-contents";