  .formWrapper {

    display: block;
    margin-top: -180px;
    left: 50%;
    margin-left: -400px;
    position: absolute;
    top: 50%;
    width: 800px;
    box-sizing: border-box;

    text-align: center;
    vertical-align: middle;

    .box{
      padding: 20px;
      margin: auto;
      width: 50%;
      height: inherit;
      background: rgba(0,0,0,0.5);
      color: #fff;
    }

    form {

      a {
        text-decoration: none;
        color: #28275B;

        &:hover {
          color: #191941;
        }
      }

      input {
        padding-left: 13px;
        padding: 11px;
        margin: 7px;
        width: 277px;
        height: 22px;
        box-shadow: none;
        border-radius: 0;
        font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
      }

      .sg-validate-msg {
        background: rgba(0,0,0,0.4);
        color: #fff;
        padding-left: 13px;
        padding: 11px;
        margin: auto;
        width: 277px;
        height: 22px;
        box-shadow: none;
        border-radius: 0;
        font: 13px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
        div {
          text-align: left;
          height: inherit;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }

button {
  &:hover {
    background-color: #46B1D8;
  }

  background-color: #33637B;
  color: white;
  border: none;
  padding: 11px;
  margin: 5px;
  width: 300px;
  height: 44px;
  font: 16px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
}